h1{
    font-family: verdana,arial;
    font-size: 60px;
}

h2{
    font-family: verdana,arial;
    font-size: 40px;
}

h4{
    font-family: verdana,arial;
    font-size: 80px;
    
}
img{
    width: 500px;
}

