@charset "UTF-8";


:root{
    --bg-dark: rgb(0, 0, 0);
    --bg-light:  rgb(255, 255, 255);
    --nav-color:  rgb(0, 255, 38);
    --header-light: rgb(155, 155, 155);
    --header-dark: rgb(0, 0, 0);
}



header{
    background-color: var(--header-light);
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

article{
    height: 100vh;
    padding-top: 10%;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 25%;
}




